$font-stack: "Outfit", sans-serif;
$primary-color-1: hsl(215, 51%, 70%);
$primary-color-2: hsl(178, 100%, 50%);
$neutral-color-1: hsl(217, 54%, 11%);
$neutral-color-2: hsl(216, 50%, 16%);
$neutral-color-3: hsl(215, 32%, 27%);
$neutral-color-4: hsl(0, 0%, 100%);
$font-size-paragraph: 1.2rem;
$font-size-heading: 1.5rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
